services:
  # MongoDB
  mongo:
    image: mongo:6
    container_name: crud-mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: cruddb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  # Backend
  backend:
    image: dharani1603/crud-backend:latest
    container_name: crud-backend
    restart: unless-stopped
    env_file:
      - ./backend/.env.example
    ports:
      - "5000:5000"
    depends_on:
      - mongo

  # Frontend (NO external port needed, only internal)
  frontend:
    image: dharani1603/crud-frontend:latest
    container_name: crud-frontend
    restart: unless-stopped
    depends_on:
      - backend

  # Nginx Reverse Proxy
  nginx:
    image: nginx:latest
    container_name: crud-nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend

volumes:
  mongo-data:

